---
# lab-lax-rnd-02 部署 Traefik 代理入口
traefik_enable: true
traefik_image_tag: v3.6.2
traefik_data_directory: /opt/traefik
traefik_data_owner: "{{ ansible_user }}"
traefik_data_group: "{{ ansible_user }}"
traefik_dashboard_domain: "traefik.{{ domain_name }}"
traefik_whoami_domain: "whoami.{{ domain_name }}"
traefik_acme_email: "{{ ansible_user }}@{{ domain_name }}"
traefik_whoami_enabled: true
traefik_compression_enabled: true
traefik_file_provider_enabled: true
traefik_file_provider_config:
  http:
    middlewares:
      http-compression:
        compress: {}
    routers:
      gemi2api:
        rule: 'Host("gemi2api.{{ domain_name }}")'
        entryPoints:
          - websecure
        tls:
          certResolver: "{{ traefik_acme_resolver_name }}"
        service: gemi2api
        middlewares:
          - http-compression
    services:
      gemi2api:
        loadBalancer:
          servers:
            - url: "http://{{ hostvars['lab-sfo-txy-01'].tailscale_ip }}:8000"
traefik_env_overrides:
  # Cloudflare DNS challenge now uses scoped API Tokens.
  CF_DNS_API_TOKEN: "{{ traefik_cloudflare_api_key | default('', true) }}"

docker_custom_dockerhub_login_enabled: true

# LobeChat 配置
lobe_chat_enable: true
lobe_chat_image_tag: v1.143.0
lobe_chat_domain: "chat.{{ domain_name }}"
lobe_chat_postgres_db: lobe
lobe_chat_postgres_user: lobe
lobe_chat_s3_bucket: chat
