---
name: CI
'on':
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 0"

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install test dependencies.
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements.txt

      - name: Install Ansible Collections
        run: |
          ansible-galaxy install -r requirements.yml
          ansible-galaxy collection install -r collections/requirements.yml

      - name: Create Vault Password File
        run: |
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > .vault-password
          chmod 600 .vault-password

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
